//-------------
//  Config
//-------------

//Breakpoints
$bp-small 	: 640px;
$bp-medium 	: 1273px;
$bp-large 	: 1800px;

//Colors
$color--primary	: #7C7835;
$color--accent 	: #F7F5EB;

//Font stacks
$font-stack--primary : Helvetica, Arial, sans-serif;

// Layout
$gutter : 20px;