.global-header {
	line-height: 0;
	margin: 40px 0 90px;
	text-align: center;

	@media (min-width: $bp-small) {
		margin: 50px 0 108px;
	}

	&--logo {
		max-width: 280px;

		@media (min-width: $bp-small) {
			max-width: 560px;
		}

		@media (min-width: $bp-medium) {
			max-width: 610px;
		}
	}
}